.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky; /* make it stick to top on scroll */
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 10px 20px 0;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__menuIcon {
  color: white;
  display: none;
  margin-left: 10px;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__cart {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
}

.header__cartCount {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .header__nav {
    position: absolute;
    right: 0;
    flex-direction: column;
    margin-top: 200px;
    padding: 10px;
    background-color: #131921;
  }

  .header__option {
    /* display: none; */
    margin: 10px 10px;
  }

  .header__cart {
    margin-left: 10px;
  }
}
